body {
  --primary: #303066;
  --secondary-light: #F8F8FF;
  --secondary-dark: #BBBBFF;
  --success: #BAFFD4;
  --error: #FFBDBA;

  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?colors=f8f8ff@0,bbbbff@100&gt=l&gd=dtl
  */
  background: var(--secondary-light);
  background: linear-gradient(315deg, var(--secondary-light) 0%, var(--secondary-dark) 100%);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary);
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

form.pure-form input {
  width: 100%;
}

#error-msg {
  background-color: var(--error);
  border: 1px solid var(--secondary-dark);
  border-radius: 3px;
  padding: 3px;
}
